@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

:root {
    --space: 50px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    font-family: "Source Code Pro", sans-serif, serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#header {
    margin-bottom: 50px;
}

.hello {
    font-size: 5rem;
    color:  rgba(128, 44, 167, 1);
}

.desc {
    color:	rgb(255, 255, 255);
    background-color: rgba(128, 44, 167, 0.541);
    padding: 5px;
    position: relative;
    top: var(--space);
}

.contact {
    text-align: center;
}

.twitter {
    background-image: url("../images/svg/twitter.svg");
}

.spotify {
    background-image: url("../images/svg/spotify.svg");
}

.email {
    background-image: url("../images/svg/email.svg");
}

.icon-props {
    width: 75px;
    height: 75px;
    opacity: .2;
    transition: opacity 0.5s ease;
    position: relative;
    top: var(--space);
}

.icon-props:hover {
    opacity: 1;
}

a {
    text-decoration: none;
}   
