@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500');
:root {
    --tcolor: rgba(128, 44, 167, 0.541);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif, serif;
}

html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    text-align: center;
    display: grid;
    grid-template-columns: 800px;
    grid-template-rows: 200px auto 100px;
    grid-gap: 100px;
}

.hey {
    font-size: 3rem;
    color: silver;
    font-weight: 400;
}

.desc {
    color: white;
    background-color: var(--tcolor);
    padding: 5px;
    font-size: 2rem;
    font-weight: 200;
}

button {
    background: #f72359;
    border: none;
    background-color: var(--tcolor);
}

button>span {
    font-size: 2rem;
    font-weight: 300;
    color: white;
}

a {
    text-decoration: none;
}