@font-face {
    font-family: 'Rainy Hearts';
    src: url('../fonts/rainyhearts.ttf') format('truetype');
}

:root {
    --myblack: #333;
    --bgcolor: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Rainy Hearts", sans-serif, serif;
}

header {
    max-width: 800px;
    height: 100px;
    margin: 0 auto;
    border-bottom: 2px dashed var(--myblack);
}

nav>ul {
    float: right;
}

nav>ul>a {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin: 10px;
    font-size: 30px;
}

ul>a:hover {
    background-color: var(--myblack);
    color: var(--bgcolor);
    cursor: pointer;
}

article {
    max-width: 800px;
    height: 500px;
    margin: 30px auto;
    font-size: 25px;
    text-align: center;
}

.projects {
    font-size: 50px;
    color: darkgoldenrod;
}

.contact {
    font-size: 30px;
    margin-top: 50px;
}

.twitter {
    color: #00ACEE;
}

.mail {
    color: #D7564A;
}

.github {
    color: #24292E;
}

footer {
    max-width: 800px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}

.copy {
    color: gray;
    font-size: 15px;
}